@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  color: #89B0AE;
  font-family: "Poppins", sans-serif;
}
.nav-bar {
    background-color: #555B6E;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 10px #aaaaaa;
}
.logo {
    float: left;
    width: 45px;
    display: block;
    margin: 7px 5%;
}

.nav-bar a {
    float:right;
    display: block;
    color: #f2f2f2;
    text-align:center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-bar a:hover {
    background-color: #FAF9F9;
    color: black;
}
.nav-bar a.active {
    background-color: #04aa6d;
    color: #FAF9F9;
}

.section-1 {
    margin: 20px 0px 0px 0px;
    border: 5px;
    color:#353836;
    background-color: white;
}
.profile-data {
    /* background-color:  #555B6E; */
    width: 100%;
    height: 100px;
    padding: 0px 5%;
    
}
.profile-photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
}
.profile-name{
    display: inline-block;
    text-align: center;

}
.content-photo {
    position: relative;    
    width: 100%;

}
.social-bar {
    margin: 0 10%;
    font-size: x-large;
    display: flex;
    justify-content: right;
}
.section-1 h3 {
    margin: 0 10%;
    font-size: x-large;
}

.post-text {
    margin: 0 10%;
}
@media screen and (max-width: 600px) {
    .nav-bar a:not(:first-child) {display: none;}
    .nav-bar a.icon {
      float: right;
      display: block;
    }
  }